@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: red;
}

.login-img {
    position: relative;
}

.login-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-img div {
    position: absolute;
    left: 30px;
    top: 30px;
    right: 30px;
    color: white;
}

h1 {
    font-size: 46px;
    margin: 15px 0;
    font-weight: 600;
}

.login-img p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}

.login-text-box {
    background-color: white;
    padding: 20px 20px 40px;
}

.login-text-box .first-sign {
    text-align: right;
    margin-bottom: 50px;
}

.login-text-box h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 25px 0;
    color: #333333;
}

.login-text-box .social-link:active,
.login-text-box .social-link:link,
.login-text-box .social-link:visited,
.login-text-box .social-link:hover {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 8px 10px;
    border: 1px solid #333 !important;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 0;
    width: 100%;
}

.login-text-box span:first-of-type {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100% !important;
}

.login-text-box .social-link span:last-child {
    color: #333 !important;
}

.or {
    position: relative;
    text-align: center;
    margin: 35px 0;
    font-size: 18px;
    color: rgba(102, 102, 102);
}

.or::after {
    content: '';
    position: absolute;
    background-color: rgba(102, 102, 102, 25%);
    width: 42%;
    height: 1px;
    top: 12px;
    right: 10px;
}

.or::before {
    content: '';
    position: absolute;
    background-color: rgba(102, 102, 102, 25%);
    width: 42%;
    height: 1px;
    top: 12px;
    left: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.input-box input {
    width: 100%;
    border: 1px solid rgba(102, 102, 102, 0.35);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
}

.input-box input:focus {
    outline: 0;
}

.password-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.password-label span:last-child {
    display: flex;
    align-items: center;
    gap: 2px;
}

.password-label span:last-child img {
    width: 20px;
    height: 20px;
}


label {
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-weight: 400;
}

.forget-pass {
    display: block;
    color: rgba(17, 17, 17, 1);
    font-size: 12px;
    text-align: right;
    margin-top: 5px;
}

.sign-in:visited,
.sign-in:link,
.sign-in:active,
.sign-in:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: rgba(153, 120, 37, 1);
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 70px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.sign-up {
    margin-top: 5px;
    font-size: 12px;
    color: rgba(17, 17, 17, 1);
}

.sign-up a:link,
.sign-up a:visited,
.sign-up a:active,
.sign-up a:hover {
    color: rgba(17, 17, 17, 1);
}

@media (max-width:48em) {

    h1 {
        font-size: 40px;
    }

    .login-img p {
        font-size: 15px;
    }

    .or::after,
    .or::before {
        width: 40%;
    }

}

@media (max-width:43em) {
    h1 {
        font-size: 35px;
    }

    .login-img p {
        font-size: 15px;
    }

    .or::after,
    .or::before {
        width: 42%;
    }
}

@media (max-width:39em) {
    .content {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 42px;
    }

    .login-img div {
        height: 100%;
        left: 30px;
        right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (max-width:26em) {

    .or::after,
    .or::before {
        width: 40%;
    }
}

@media (max-width:23em) {
    h1 {
        font-size: 35px;
    }
}

@media (max-width:21em) {

    .or::after,
    .or::before {
        width: 38%;
    }
}

@media (max-width:20.5em) {
    .login-img div {
        top: 0px;
        left: 10px;
        right: 10px;
    }

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 10px;
    }

    .or::after,
    .or::before {
        width: 35%;
    }

    .social-link {
        gap: 10px !important;
        padding: 8px 8px !important;
        font-size: 12px;
    }

    .or::after,
    .or::before {
        width: 38%;
        top: 8px;
    }

    label {
        font-size: 12px;
    }

    .first-sign,
    .forget-pass,
    .sign-up {
        text-align: center !important;
    }

    .sign-in {
        font-size: 12px !important;
        padding: 10px 50px !important;
        margin: 0 auto;
    }
}

@media (max-width:16em) {

    label,
    .social-link {
        font-size: 10px;
    }
}